<section class="bg-alt hero p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 bg-rijin1 text-white py-5 text-center col-fixed">
                <div class="mb-3">
                    <img src="assets/img/male.jpg" alt="Male" class="brand-logo img-fluid rounded-circle"/>
                </div>
                <h1 class="pt-4 text-white h2">I'm <span>Rijin Elayambari</span>, a <span>Full Stack</span><br/> Developer.</h1>
                <p class="mt-4 lead text-white">
                    I love working in UI related technologies.
                    Love building things and passionate to learn new technologies.
                    Like to design and develop products.
                </p>
                <div class="pt-5">
                    <a href="#services" class="btn btn-white1 btn-lg">
                        Connect With Me
                    </a>
                </div>
            </div>
            <div class="col-sm-7 offset-sm-5 px-0 py-2">
                <!--what I do-->
                <section class="bg-alt" id="services">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
                                <h2 class="text-primary">What I Do.</h2>
                                <hr/>
                                <p>
                                    I'm focussing on Node.js and Front End stacks like AngularJS, Angular and React.js.
                                </p>
                                <p>
                                    <em>Thinking or Waiting for new and innovative opportunities</em>
                                </p>
                            </div>
                        </div>
                        <div class="row d-md-flex mt-4">
                            <div class="col-sm-4 mt-2">
                                <div class="card card-inverse bg-rijin2 border-none">
                                    <div class="card-block">
                                        <h4 class="card-title">Frontend</h4>
                                        <p class="card-text">Javascript, Angular, AngularJS, React, Typescript, ES6, AJAX, HTML5, CSS3, RxJS, Redux...</p>
                                        <!-- <a href="#" class="btn btn-white text-pink">Hire me!</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <div class="card card-inverse bg-rijin3 border-none">
                                    <div class="card-block">
                                        <h4 class="card-title">Backend</h4>
                                        <p class="card-text">Java, J2EE, Javascipt (NODE.JS), GraphQL, Async, NoSQL, MySQL, Oracle, MongoDB, Firebase...</p>
                                        <!-- <a href="#" class="btn btn-white text-blue">Hire me!</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-2">
                                <div class="card card-inverse bg-rijin4 border-none">
                                    <div class="card-block">
                                        <h4 class="card-title">Dev Ops</h4>
                                        <p class="card-text">Google Cloud Platform, AWS, Digital Ocean, Github, Gitlab, Jira, Agile, Scrum, Jenkins, Sonar Qube...</p>
                                        <!-- <a href="#" class="btn btn-white text-green">Hire me!</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-4">
                                <div class="card card-inverse bg-rijin5 border-none">
                                    <div class="card-block">
                                        <h4 class="card-title">Products & Platform</h4>
                                        <p class="card-text">Ecommerce, CMS, Analytics, Visualization, Realtime Monitoring ...</p>
                                        <!-- <a href="#" class="btn btn-white text-green">Hire me!</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Skills & Abilities.-->
                <!-- <section class="bg-alt" id="skills">
                    <div class="container-fluid">
                      <div class="row">
                            <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
                                <h2 class="text-primary">Skills & Abilities.</h2>
                                <hr/>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-12 mt-2">
                                <h6>HTML5</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-pink" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                                <h6>CSS</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-purple" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">99%</div>
                                </div>
                                <h6>Responsive Design</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-orange" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                                </div>
                                <h6>JavaScript</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-blue" role="progressbar" style="width: 90%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">90%</div>
                                </div>
                                <h6>React</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-red" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                </div>
                                <h6>AngularJS</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                                <h6>Angular</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-teal" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                                <h6>Java</h6>
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-blue" role="progressbar" style="width: 80%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

                <!--contact-->
                <!-- <section class="bg-faded pt-3 pb-3 mt-4">
                    <div class="container-fluid">
                        <div class="row d-md-flex text-center text-primary">
                            <div class="col-sm-4">
                                <p><em class="ion-ios-telephone-outline icon-md"></em></p>
                                <p class="lead"></p>
                            </div>
                            <div class="col-sm-4">
                                <p><em class="ion-ios-chatbubble-outline icon-md"></em></p>
                                <p class="lead"></p>
                            </div>
                            <div class="col-sm-4">
                                <p><em class="ion-ios-location-outline icon-md"></em></p>
                                <p class="lead">Kerala, India</p>
                            </div>
                        </div>
                    </div>
                </section> -->

                <!--footer-->
                <section class="bg-alt" id="connect">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
                                <h3 class="text-primary">Connect</h3>
                                <hr/>
                                <p>
                                    Let's connect with me.
                                </p>
                                <p class="mt-2">
                                    <a href="https://www.linkedin.com/in/rijin" target="_blank">
                                        Linkedin
                                        <em class="ion-social-linkedin text-linkedin-alt icon-sm mr-3">
                                            <i class="ion-logo-linkedin"></i>
                                        </em>
                                    </a>
                                    <a href="https://stackoverflow.com/users/4166619/rijin" target="_blank">
                                        Stackoverflow<em class="ion-social-twitter text-twitter-alt icon-sm mr-3">
                                            <i class="ion-ios-list"></i>
                                        </em>
                                    </a>
                                    <a href="https://github.com/rijine" target="_blank">
                                        Github<em class="ion-social-github text-github-alt icon-sm mr-3">
                                            <i class="ion-logo-github"></i>
                                        </em>
                                    </a>
                                </p>
                                <p class="pt-2 text-muted">
                                    &copy; 2017 @rijin.io
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <!--my work-->
                <section class="bg-alt" id="portfolio">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
                                    <h2 class="text-primary">My Portfolio.</h2>
                                    <hr/>
                                    <p>
                                        Will update soon
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="row d-md-flex mt-4">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <img class="card-img-top" src="img/gallery-1.jpg" alt="Gallery">
                                        <div class="card-block">
                                            <h5 class="card-title"><a href="#">Bitty</a></h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card border-none">
                                        <div class="card ">
                                            <img class="card-img-top" src="img/gallery-2.jpg" alt="Gallery">
                                            <div class="card-block">
                                                <h5 class="card-title"><a href="#">Harley Davidson</a></h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </section>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
